.fiveday-forecast {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    
}


.forecast-container {
    flex: 1;
    box-shadow:0 5px 7px 3px rgb(1, 117, 194);
    margin: 1%;
    
    
}
h3 {
    font-weight:bold;
}
ul {
    
}

.temp {
    background: grey;
    font-weight:bold;
    text-align: center;
}

.hot {
    color:red;
}

.cold {
    color: blue;
}
.loader {
    margin-top: 150px;   
    display: block;
    margin-left: auto;
    margin-right: auto;
}
