.header {
    background: rgb(3, 77, 126);
    color:whitesmoke;
    padding: 1em;
    text-align: center;
    font-family:sans-serif;
    font-weight: bold;
    box-shadow: 0 1px 8px 0 black;
    
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}


nav li {

    list-style: none;
    margin-left: 1em;
    margin-right: 1em;  
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
    display: inline-block;
    box-shadow:0 2px 4px  rgb(43, 43, 43);
}
