.content {
    text-align: center;
    min-width: 100%;
    margin: 0 auto -50px;
    margin-bottom: -50px;
    color: white;
}

.loader {
    margin-top: 30px;   
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1, h2 {
    color: white;
    font-weight: bold;
}
p {
    font-weight: lighter;
    color: white;
}

.weather-icon {
    height: 5em;
}

.push {
    height: 50px;
  }

ul li {
    list-style: none;
    font-weight: lighter;
    color: rgb(167, 167, 167);
}

