.content {
    text-align: center;
    color: white;
    box-shadow:0 5px 7px 3px rgb(1, 117, 194);
    background: rgb(3, 77, 126);
    color: whitesmoke; 
    margin: 4em; 
    margin-top: 1em;
}

select {
    background:blue;
    color: white;
}

.loader {
    margin-top: 30px;   
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1, h2 {
    color: white;
    font-weight: bold;
}
p {
    font-weight: lighter;
    color: white;
}

.weather-icon {
    height: 5em;
}

.push {
    height: 50px;
  }

ul li {
    list-style: none;
    font-weight: lighter;
    color: rgb(167, 167, 167);
}

